body {
  background-color: '#080708';
  background-image: url('/serpent-eye.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: lower right;
  background-attachment: fixed;
}

/* Hide step buttons for number inputs in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide step buttons for number inputs in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: unset;
  text-decoration: none;
}