@font-face {
  font-family: Kanit;
  src: url('/fonts/Kanit-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: GeneralSans;
  src: url('/fonts/GeneralSans-Regular.ttf');
  font-display: swap;
}

body {
  background-color: '#080708';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: lower right;
  background-attachment: fixed;
  color: #fff;
}

/* Hide step buttons for number inputs in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide step buttons for number inputs in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a {
  text-decoration: none;
  display: inline-flex;
  padding: var(--0, 0rem);
  align-items: flex-start;
  gap: var(--0, 0rem);
  color: var(--White, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 133.333% */
}

a:hover {
  color: var(--Pink, #DB8BFE);
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

a:active {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}

a:disabled {
  color: var(--Sec-txt-2, #7F7F7F);
  text-align: center;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
}